/* Note: This is deliberately the same styles as the Dashboard for later
 * re-integration. Editor-specific styles are in editor.css. */
html {
    width: 100%;
    overflow-y: hidden;
    font-size: 10px;
    color: #333;
}
body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
}
html, button, input, select, textarea {
    font-family: sans-serif;
}
b, strong {
    font-family: sans-serif;
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 100%;
}
h2 {
    font-size: 28px;
    line-height: 32px;
    margin: 0 0 20px;
}
#header, #main, #main > section, #footer {
    min-width: 940px;
}
#dashboard {
    min-width: 880px;
    margin: 10px 30px 0px 30px;
}
#header {
    padding: 10px 0 10px;
    background: #19B9F3;
    color: white;
    position: relative;
    z-index: 2;
}
#header > div {
    margin-left: 30px;
}
a.echo-logo {
    display: block;
    width: 116px;
    height: 40px;
    background: url(//aboutecho.com/Content/Images/Global/echo-logo.gif) no-repeat left top;
}
#dashboard .loading-info {
    margin: 100px 0;
    text-align: center;
}
body > div.echo-sdk-ui {
    position: static;
}
