/* Basic styles for the whole page */
html { padding: 0; margin: 0; }
body { padding: 0; margin: 0; font-family: sans-serif; background: url("bg.png"); }
img { display: block; border-style: none; }
div { box-sizing: border-box; }

.clearfix:before,
.clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }

/* Top black tab bar */
nav { width: 100%; background: #000; margin: 0 0 14px 0; }
nav ul { list-style: none; margin: 0; padding: 0; }
nav ul li { list-style: none; margin: 0; }
nav ul li a { color: #fff; text-decoration: none; display: block; float: left; padding: 5px 18px; }
nav ul li a:hover { background: #333; color: #fafcb1; }
nav ul li a.active { color: #48aeec; }


/* General content styling */
h2 { background: #043860; color: #fff; display: block; text-align: center; margin: 0; padding: .25em 0; }

/* Some of the visualizations have ad placeholders for demo purposes */
#page { margin: 20px auto; width: 1000px; background: #fff; }
#content,
#sidebar { margin: 10px; box-shadow: 1px 1px 2px #999; border-top: 1px solid #eee; border-left: 1px solid #eee; }
#content { float: left; width: 670px; margin-right: 0px; }
#sidebar { float: right; width: 300px; margin-left: 0px; }

/* Ad regions */
.ad-region { font-size: 2em; font-weight: bold; color: #ffffce; background: #444; text-align: center; margin: 0 auto; }
#ad-banner { width: 970px; height: 70px; line-height: 70px; margin-top: 10px; }
#ad-companion { width: 300px; height: 250px; line-height: 250px; }
